body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f4f6;
  color: #333;
}

header {
  margin-top: 20px;
}

h1 {
  color: #ff6363;
}

.gallery img {
  width: 150px;
  margin: 5px;
  border-radius: 10px;
}

#promise {
  background-color: #ffebcc;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
}

footer {
  margin-top: 30px;
}
